{% extends "admin_layout.html.twig" %}

{% block content %}

    <div class="container-fluid" id="sessionAdmin">
        {% if connexionMessage %}

            <div id="alert" class="alert alert-success">
                <div>Bonjour {{ user.firstname | capitalize  }}</div>
                <p>{{ connexionMessage }}</p>
            </div>

        {% endif %}

        {#-----------------------------BLOCK COMMENTS--------------------------------------#}

        <div class="row mt-3">
            <div class="col-12 ">
                <h3 class="text-white" style="text-align:center;">Derniers commentaires publiés</h3>
            </div>
        </div>

        <div class="row mt-2 justify-content-center">
            <div class="col-sm-12 col-md-5 col-lg-3">
                <div class="card text-black bg-warning" style="min-height: 12rem;">
                    <div class="card-header" style="text-align:center; font-size: 1.6rem;">
                        <a href="/admin/comments" class="text-white">Nombre total de commentaires</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title dashboardCount text-white">{{ totalComments }}</h5>
                    </div>
                </div>
            </div>

            {% for lastcomment in lastcomments %}
                <div class="col-sm-12 col-md-5 col-lg-3">
                        <div class="card cardFondDashboard">
                            <div class="card-body">
                                <p class="card-text"><strong>{{ lastcomment.userFirstname }} {{ lastcomment.userLastname }}</strong> a commenté le billet :
                                    <br>
                                    {{ lastcomment.articleTitle|truncate(25) }}
                                    <br>
                                    <br>
                                    <strong>Le</strong> {{ lastcomment.date }}</p>
                            </div>
                        </div>
                </div>

            {% endfor %}
        </div>

        <hr style="border: solid 0.1em #50E3C2; width: 65%">

        {#------------------BLOCK USERS--------------------#}

        <div class="row">
            <div class="col-12">
                <h3 class="text-white" style="text-align:center;">Derniers utilisateurs inscrits</h3>
            </div>
        </div>

        <div class="row mt-2 justify-content-center">
            <div class="col-sm-12 col-md-5 col-lg-3 justify-content-center">
                <div class="card text-white bg-info" style="min-height: 12rem;">
                    <div class="card-header" style="text-align:center; font-size: 1.6rem;">
                        <a href="/admin/users" class="text-white">Nombre total d'utilisateurs</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title dashboardCount" style="text-align: center">{{ totalUsers }}</h5>
                    </div>
                </div>
            </div>

            {% for lastuser in lastusers %}

                <div class="col-sm-12 col-md-5 col-lg-3">
                    <a href="/admin/user/{{ lastuser.id }}">
                        <div class="card cardFondDashboard" style="">
                            <div class="card-body">
                                <h5 class="card-title">{{ lastuser.firstname }} {{ lastuser.lastname }}</h5>
                                <br>
                                <p class="card-text"><strong>Enregistré le :</strong> {{ lastuser.registered}}</p>
                                <br>
                                <h6 class="card-subtitle mb-2"><strong>Courriel : </strong>{{ lastuser.email}}</h6>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}

        </div>

        <hr style="border: solid 0.1em #50E3C2; width: 65%">

        {#--------------------BLOCK BILLETS--------------------------#}

        <div class="row">
            <div class="col-12">
                <h3 class="text-white" style="text-align:center;">Derniers billets publiés</h3>
            </div>
        </div>

        <div class="row mt-2 justify-content-center">
            <div class="col-sm-12 col-md-5 col-lg-3">
                <div class="card text-white bg-success" style="min-height: 12rem;">
                    <div class="card-header" style="text-align:center; font-size: 1.6rem;">
                        <a href="/admin/articles" class="text-white">Nombre total de billets</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title dashboardCount">{{ totalArticles }}</h5>
                    </div>
                </div>
            </div>

            {% for lastarticle in lastarticles %}

                <div class="col-sm-12 col-md-5 col-lg-3">
                    <a href="/admin/article/{{ lastarticle.id }}">
                        <div class="card cardFondDashboard" style="">
                            <div class="card-body">
                                <br>
                                <h6 class="card-subtitle mb-2"><strong>Rédigé le : </strong>{{ lastarticle.date }}</h6>
                                <br>
                                <h5 class="card-title">{{  lastarticle.title|truncate(22)}}</h5>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}

        </div>

    </div>

{% endblock content %}
