<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="col-4">
        <a class="navbar-brand text-white" href="#">Interface administrateur</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <!-- Colonne dédiée a l'utilisateur connecté-->
    <div class="col-lg-4 text-white text-center">

        <!-- Appel du nom utilisateur et capitalize pour avoir la première lettre en capitale-->
        {{ user.firstname | capitalize  }}
    </div>

    <!-- Navbar sur le côté droit-->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav nav-pills">
            <li class="nav-item {{ active == "home" ? "active" }}">
                <a class="nav-link text-white" href="/admin/dashboard">Tableau de bord<span class="sr-only"></span></a>
            </li>
            <div class="">
                <li class="nav-item dropdown">
                    <a class="nav-link  text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Commentaires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item {{ active == "articles" ? "active" }}" href="/admin/comments">Tous les commentaires</a>
                    </div>
                </li>
            </div>
            <div class="">
                <li class="nav-item dropdown">
                    <a class="nav-link  text-white dropdown-toggle href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Utilisateurs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item {{ active == "users" ? "active" }}" href="/admin/users">Tous les utilisateurs</a>
                        <a class="dropdown-item {{ active == "user" ? "active" }}" href="/admin/user/createUser">Créer un utilisateur</a>
                    </div>
                </li>
            </div>
            </li>
            <div class="">
                <li class="nav-item dropdown">
                    <a class="nav-link  text-white dropdown-toggle {{ active == "articles" ? "active" }}" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Billets
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item {{ active == "articles" ? "active" }}" href="/admin/articles">Tous les billets</a>
                        <a class="dropdown-item {{ active == "add" ? "active" }}" href="/admin/createArticle">Créer un billet</a>
                    </div>
                </li>
            </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/admin/logout">Déconnexion</a>
            </li>
        </ul>
    </div>
</nav>
