{% extends "admin_layout.html.twig" %}

{% block content %}

<div class="container" id="sessionAdmin">
    {% if connexionMessage %}

        <div id="alert" class="alert alert-success">

            <div>Bonjour {{ user.firstname | capitalize  }}</div>
            <a class="close" >x</a>
            <p>{{ connexionMessage }}</p>
        </div>

    {% endif %}


    <div class="container">


        <!-- Ajout des 3 divs pour chacun des élements, totalComments, totalUser, totalArticles sont des éléments récupérés de l'adminController -->
        <div class="row mt-5">

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header"style="text-align: center">
                        <a href="/admin/users">Nombre d'utilisateurs</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">{{ totalUsers }}</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="text-align: center">
                        <a href="/admin/articles">Nombre d'articles</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">{{ totalArticles }}</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <a href="/admin/comments" style="text-align: center">Nombre de commentaires</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">{{ totalComments }}</h5>

                        {% if signals == 0 %}
                            <h5 class="card-title dashboardCount text-white"><a href="/admin/comments/signals"> aucun signalé, super</a></h5>
                        {% else %}
                            <h5 class="card-title dashboardCount text-white"><a href="/admin/comments/signals">{{ signals }} signalé(s)</a></h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}



