{% extends "admin_layout.html.twig" %}

{% block content %}

    <div class="container">
        <h1>Tous les billets</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Contenu</th>
                <th scope="col">Image</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
            {#{{ dump(article) }}#}

                <tr>

                <th scope="row">{{ article.title |truncate(50) }}</th>
                <td>{{ article.content|truncate(100) }}</td>
                <td style="width: 30px; height: 30px">
                    <div>
                        <img class="imgArticle" src="/assets/images/{{ article.picture }}" alt="illustration du billet">
                    </div>
                </td>
                <td>
                    <a href="/admin/article/{{ article.id }}" target="">
                        <button type="submit" class="btn btn-warning">Voir</button></a>
                </td>
                <td>
                    <a href="/admin/article/edit/{{ article.id }}" target="">
                        <button type="submit" class="btn btn-warning">Modifier</button></a>
                </td>
                <td>
                    <a href="/admin/article/delete/{{ article.id }}" target="">
                        <button type="submit" class="btn btn-warning">Supprimer</button></a>
                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}



