{% extends "layout.html.twig" %}

{% block content %}
    <div class="container-fluid">
        {% if session.user %}

            <div id="alert" class="alert alert-success">
                <p>{{ session.user.message}}</p>
            </div>
        {% endif %}

        <div class="row articles">
            <div class="col-md-3">
            </div>
            <h1 class="titleActualite col-md-9 text-left">Billet simple pour l'Alaska - Jean Forteroche</h1>
        </div>
        <div class="row">
            <div class="col-2">
                {% include "Article/categories.html.twig" %}
            </div>
            <div class="col-9">
                <div class="indexArticles">

                    {% for article in articles %}
                        {% if loop.index is not divisible by(2) %}

                            <div class="row featurette">
                                <div class="col-md-7 d-flex">
                                    <div class="">
                                        <a class="link" href ="/article/{{ article.id }}">
                                            <h2 class="featurette-heading articleTitre">{{ article.title }}<span class="text-muted"></span></h2>
                                            <p class="lead">{{ article.content|truncate(1000)|raw }}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-5 d-flex">
                                    <img class="featurette-image img-fluid mx-auto" src="/assets/images/{{ article.picture }}" alt="Generic placeholder image">
                                </div>
                            </div>

                        {% else %}
                            <hr class="featurette-divider">

                            <div class="row featurette">
                                <div class="col-md-7 order-md-2">
                                    <a class ="link" href ="/article/{{ article.id }}">
                                        <h2 class="featurette-heading articleTitre">{{ article.title }}<span class="text-muted"></span></h2>
                                        <p class="lead">{{ article.content|truncate(1000)|raw }}</p>
                                    </a>
                                </div>
                                <div class="col-md-5 order-md-1 d-flex">
                                    <img class="featurette-image img-fluid mx-auto" src="/assets/images/{{ article.picture }}" alt="Generic placeholder image">
                                </div>
                            </div>
                            <hr class="featurette-divider">
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
