{% extends "layout.html.twig" %}

{% block content %}

    <div class="container-fluid">
        {# show an article #}

        {#        <div class="col-sm-12 d-flex mt-5 mb-5t">#}
        {#            <img class="featurette-image img-fluid mx-auto shadow mb-5 rounded" src="/assets/images/{{ article.picture }}" alt="Generic placeholder image">#}
        {#        </div>#}
        <div class="row ">
        </div>
        <div class="col-lg-8 offset-2 order-md-2">
            <h2 class="featurette-heading articleTitre">{{ article.title }}<span class="text-muted"></span></h2>
            <p class="lead">{{ article.content|raw }}</p>
        </div>

        <hr class="featurette-divider">

        {#Add table to show all comments#}
        <div class="row">
            <div class="col-md-8 offset-2">
                <h5>Vos commentaires</h5>
                {% for comment in comments %}
                    <div class="list-group list-group-item flex-column align-items-center cardFond rounded">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="text-muted">commenté par : {{ comment.lastname }}</small>
                            <small class="text-muted">{{ comment.date }}</small>
                        </div>
                        <p class="mb-1">{{ comment.content|raw }}</p>
                        <p style="text-align: right">

                        <a href="/article/comment/signal/{{ comment.id }}" target="" data-confirm="Etes-vous certain de vouloir signaler ce commentaire ?">

                        <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i>Signaler</button></a>
                    </div>
                    <br/>
                {% endfor %}

            </div>
        </div>


        {#create a form to add a comment#}
        <div class="row">
            <div class="col-md-8 offset-2">

                <form method="post" action="/article/{{ article.id }}/comment">
                    <div class="form-group">
                        <label for="content"><h5>Ajoutez un commentaire</h5></label>
                        <textarea class="form-control commentFond" id="content" name="content" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn lasuite">Envoyer</button>
                    {% if errorConnexion %}
                        <div class="alert alert-danger" role="alert">
                            {{ errorConnexion }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
