{% extends "admin_layout.html.twig" %}

{% block content %}

    <div class="container">
        <h1 class="text-white">Tous les commmentaires</h1>

        <table class="table table-striped text-white">
            <thead>
            <tr>
                <th scope="col">Titre du billet</th>
                <th scope="col">Commentaires</th>
                <th scope="col">utilisateur</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>

            <tbody>
            {% for content in comments %}

                <tr>
                    <td>{{ content.title }} </td>
                    <td data-toggle="tooltip" data-placement="top" title="{{ content.content }}">
                        {{ content.content|truncate(80) }}
                    </td>

                    <td>
                        {{ content.lastname}}
                    </td>
                    <td>
                        <a href="/admin/comment/delete/{{ content.id }}" target="">
                            <button type="submit" class="btn buttonColorAdmin">Supprimer</button></a>
                    </td>

                </tr>



            {% endfor %}

        </table>
    </div>

{% endblock content %}
